## Build and Output Folders
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
*.msix
*.appx
*.appxbundle
*.msixbundle
PackageOutput/
AppPackages/
ReleaseOutput/
publish-unpackaged/
crash.log

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
